[Unit]
Description=SOM visualiser 

After=syslog.target network.target som.stater.service

[Service]
User=vogtp
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/srv/som/bin/som.visualiser --web.port=8083 --log.level info
Restart=always
RestartSec=120
WorkingDirectory=/srv/som

[Install]
WantedBy=multi-user.target