<!--footer.html-->
<small>SOM Version: {{ .Version }}</small>
  </body>
<script>
function showHide(el) {
  var x = document.getElementById(el);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</html>